<<<<<<< HEAD

.heading span{
	color: #00D089;
}


.btn-danger {
    background-color: #00D089;
}

=======

.heading span{
	color: #00D089;
}


.btn-danger {
    background-color: #00D089;
}

>>>>>>> d57608d56be1949eb28c6032b81c46cf51a7c686
